label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
label:first-child {
  margin-bottom: 8px;
}
label:nth-child(2) {
  margin-bottom: 16px;
}
.login-form {
  max-width: 408px;
  padding: 24px;
  margin: 0 auto;
}
button {
  width: 86px;
  height: 40px;
}
